body{
    margin: 0;
    background-color: #EBB5E6;
    padding: 0;

      }

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10 px;

}

li{
    list-style: none;
    gap: 15px;
}

a{
    color: #FD2896;
    text-decoration: none;
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    padding: 8px 20px;
    background-color: #EBB5E6;
    border-radius: 12px;

}

.menu{
    display: flex;
    gap: 15px;
}

h1{
    color: #D92B9F;
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
    margin-left: 20px;
}

.menu, li{
    margin-left: 10px;
}


