body{
    margin: 0;
    background-color: #EBB5E6;
    padding: 0;

      }

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
}

h1{
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
}

li{
    list-style: none;
    gap: 15px;
}

a{
    text-decoration: none;
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.menu{
    display: flex;
    gap: 15px;
}